@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


}


.Collapsible__trigger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  color: black;
  background: cyan;
  width: 20%;
  border-radius: 20px;
  text-align: center;
}
.Collapsible__contentOuter {
  margin-top: 5px;
  background-color: dimgrey;
}




.DeckOutput {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-top: 20px;
}

.DeckComparison {
  padding: 10px 30px;
  border-radius: 10px;
}

.FreeFloatingListItem {
  margin-top: 5px;
  margin-bottom: 5px;
}

#hoveredCard {
  position: sticky;
  top: 10%;
  margin: 0 auto;
}

.EnumDropDown {
  width: fit-content;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 10px;
}
.EnumDropDownLabel {
  font-size: 18px;
}
.EnumDropDownSelect {
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
  margin-left: 15px;
}
