html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rebeccapurple;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Collapsible__trigger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  color: black;
  background: cyan;
  width: 20%;
  border-radius: 20px;
  text-align: center;
}
.Collapsible__contentOuter {
  /*background-color: lightgray;*/
}

#formatRadioButtonContainer {
  width: fit-content;
  margin: 20px auto;
  background-color: lightgrey;
}

.FormatRadioButton {
  margin-left: 40px;
  font-size: 30px;
}

#inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.DeckInput {
  flex: 1;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  border-radius: 30px;
}

.DeckOutput {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-top: 20px;
}

.DeckComparison {
  padding: 0 30px;
  background-color: lightgrey;
  border-radius: 10px;
}

#hoveredCard {
  display: inline-block;
  float: left;
}


